# pandasql ile SQL KOMUTLARINI pandas'da ÇALIŞTIRMA

Pandasql, verilerinizi pandaların veri çerçevesinden sorgulamak için SQL sorguları yazmanıza olanak sağlar. Pandasql ile düzenli SQL sorgunuzu bir işlev çağrısı içine yazabilir ve verilerinizi  çalıştırabilirsiniz!

### Kurulum

In [1]:
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.16.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (0.24.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

Gerçek bir veri kümesiyle çalışmaya başlayalım. seaborn kütüphanesini kullanarak iris çiçekleri veri setini yükleyeceğiz :

In [0]:
import pandasql
import seaborn as sns

data = sns.load_dataset('iris')

Normalde, veri kümemizdeki ilk 20 maddeyi almak isteseydik, böyle bir şeyi pandas'da yapardık.

In [3]:
data.head(20)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

Pandasql ile standart SQL sorgunuzu normalde bir SQL veritabanında çalıştırdığımız gibi yazabiliriz.

In [4]:
sub_data = pandasql.sqldf("SELECT * FROM data LIMIT 20;", globals())
print(sub_data)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

SQL'de WHERE ile yapabileceğimiz düzenli filtreleme işlemleri de uygulanabilir. Önce pandas kullanarak  petal_length 5'ten büyük olan tüm verileri alalım :

In [0]:
sub_data = data[data["petal_length"] > 5.0]

SQL kodu ile aynı işlemi yapalım

In [0]:
sub_data = pandasql.sqldf("SELECT * FROM data WHERE petal_length > 5.0;", globals())

In [7]:
sub_data

    sepal_length  sepal_width  petal_length  petal_width     species
0            6.0          2.7           5.1          1.6  versicolor
1            6.3          3.3           6.0          2.5   virginica
2            5.8          2.7           5.1          1.9   virginica
3            7.1          3.0           5.9          2.1   virginica
4            6.3          2.9           5.6          1.8   virginica
5            6.5          3.0           5.8          2.2   virginica
6            7.6          3.0           6.6          2.1   virginica
7            7.3          2.9           6.3          1.8   virginica
8            6.7          2.5           5.8          1.8   virginica
9            7.2          3.6           6.1          2.5   virginica
10           6.5          3.2           5.1          2.0   virginica
11           6.4          2.7           5.3          1.9   virginica
12           6.8          3.0           5.5          2.1   virginica
13           5.8          2.8           5.1          2.4   virginica
14           6.4          3.2           5.3          2.3   virginica
15           6.5          3.0           5.5          1.8   virginica
16           7.7          3.8           6.7          2.2   virginica
17           7.7          2.6           6.9          2.3   virginica
18           6.9          3.2           5.7          2.3   virginica
19           7.7          2.8           6.7          2.0   virginica
20           6.7          3.3           5.7          2.1   virginica
21           7.2          3.2           6.0          1.8   virginica
22           6.4          2.8           5.6          2.1   virginica
23           7.2          3.0           5.8          1.6   virginica
24           7.4          2.8           6.1          1.9   virginica
25           7.9          3.8           6.4          2.0   virginica
26           6.4          2.8           5.6          2.2   virginica
27           6.3          2.8           5.1          1.5   virginica
28           6.1          2.6           5.6          1.4   virginica
29           7.7          3.0           6.1          2.3   virginica
30           6.3          3.4           5.6          2.4   virginica
31           6.4          3.1           5.5          1.8   virginica
32           6.9          3.1           5.4          2.1   virginica
33           6.7          3.1           5.6          2.4   virginica
34           6.9          3.1           5.1          2.3   virginica
35           5.8          2.7           5.1          1.9   virginica
36           6.8          3.2           5.9          2.3   virginica
37           6.7          3.3           5.7          2.5   virginica
38           6.7          3.0           5.2          2.3   virginica
39           6.5          3.0           5.2          2.0   virginica
40           6.2          3.4           5.4          2.3   virginica
41           5.9          3.0           5.1          1.8   virginica

SQL komutları ile sadece istediğimiz kolonları alalım.

In [0]:
sub_data = pandasql.sqldf("SELECT petal_width, petal_length FROM data WHERE petal_length > 5.0;", globals())

In [9]:
sub_data

    petal_width  petal_length
0           1.6           5.1
1           2.5           6.0
2           1.9           5.1
3           2.1           5.9
4           1.8           5.6
5           2.2           5.8
6           2.1           6.6
7           1.8           6.3
8           1.8           5.8
9           2.5           6.1
10          2.0           5.1
11          1.9           5.3
12          2.1           5.5
13          2.4           5.1
14          2.3           5.3
15          1.8           5.5
16          2.2           6.7
17          2.3           6.9
18          2.3           5.7
19          2.0           6.7
20          2.1           5.7
21          1.8           6.0
22          2.1           5.6
23          1.6           5.8
24          1.9           6.1
25          2.0           6.4
26          2.2           5.6
27          1.5           5.1
28          1.4           5.6
29          2.3           6.1
30          2.4           5.6
31          1.8           5.5
32          2.1           5.4
33          2.4           5.6
34          2.3           5.1
35          1.9           5.1
36          2.3           5.9
37          2.5           5.7
38          2.3           5.2
39          2.0           5.2
40          2.3           5.4
41          1.8           5.1

### Faydalı olması dileğiyle